* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.headline {
  padding-top: 20px;
  padding-left: 20px;
  color: grey;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.item {
  width: 840px;
  margin: 0 auto;
}

.content {
  color: rgba(121, 121, 121, 0.5);
  padding-top: 5px;
}

.date {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(121, 121, 121, 0.2);
}

.dat1 {
  padding-top: 5px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(121, 121, 121, 0.2);
}
